<a href="https://colab.research.google.com/github/TeoBongcaron/C12_Repository/blob/main/Lesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Data manipulation and processing

In [1]:
# Create dataframe using Pandas

import pandas as pd
import numpy as np

# Create dataframe
df = pd.DataFrame({
    'Company': ['FB', 'FB', 'GOOG', 'GOOG', 'MSFT', 'MSFT', 'AAPL', 'AAPL'],
    'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah', 'Tony', 'Jake'],
    'Sales': [200, 120, 340, 124, 243, 350, np.nan, 400]
})
df

  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
6    AAPL     Tony    NaN
7    AAPL     Jake  400.0

In [3]:
# Perform row level manipulations such drop rpws and columns

print("\nDropping any rows with a NaN value\n", '-'*35)    # NOTE: Try it with iris or titanic dataset
print(df.dropna())

print("\nDropping any column with a NaN value\n", '-'*35)
print(df.dropna(axis=1))              # axis=0 is rows

print("\nDropping a row with minimum 2 NaN using 'thresh'\n")
print(df.dropna(thresh=2))            # If a row has fewer than 2 non-NaN (valid) values, it’s dropped.

Dropping any rows with a NaN value
 -----------------------------------
  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
7    AAPL     Jake  400.0

Dropping any column with a NaN value
 -----------------------------------
  Company   Person
0      FB      Sam
1      FB  Charlie
2    GOOG      Amy
3    GOOG  Vanessa
4    MSFT     Carl
5    MSFT    Sarah
6    AAPL     Tony
7    AAPL     Jake

Dropping a row with minimum 2 NaN using 'thresh'

  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
6    AAPL     Tony    NaN
7    AAPL     Jake  400.0

In [4]:
# Fill in Null values

print("\nFilling values with default (0)\n")
print(df.fillna(0))

print("\nFilling values with mean of Sales\n")
print(df['Sales'].fillna(df['Sales'].mean()))

Filling values with default (0)

  Company   Person  Sales
0      FB      Sam  200.0
1      FB  Charlie  120.0
2    GOOG      Amy  340.0
3    GOOG  Vanessa  124.0
4    MSFT     Carl  243.0
5    MSFT    Sarah  350.0
6    AAPL     Tony    0.0
7    AAPL     Jake  400.0

Filling values with mean of Sales

0    200.000000
1    120.000000
2    340.000000
3    124.000000
4    243.000000
5    350.000000
6    253.857143
7    400.000000
Name: Sales, dtype: float64

In [5]:
# GroupBy and use Describe fpr dataframe

byComp = df.groupby('Company')
print("\nGrouping by 'Company' and summing sales\n", '-'*55, sep='')
print(byComp['Sales'].sum())

print("\nStats for 'FB'\n")
pd.DataFrame(byComp.describe().loc['FB']).T

Grouping by 'Company' and summing sales
-------------------------------------------------------
Company
AAPL    400.0
FB      320.0
GOOG    464.0
MSFT    593.0
Name: Sales, dtype: float64

Stats for 'FB'

   Sales
   count   mean        std    min    25%    50%    75%    max
FB   2.0  160.0  56.568542  120.0  140.0  160.0  180.0  200.0

In [6]:
# Concatenation and Merging dataframes

df1 = pd.DataFrame({'A': ['A0','A1','A2','A3'],
                    'B': ['B0','B1','B2','B3'],
                    'key': ['K0','K1','K2','K3']})
df2 = pd.DataFrame({'A': ['A4','A5','A6','A7'],
                    'B': ['B4','B5','B6','B7'],
                    'key': ['K0','K1','K2','K3']})
df3 = pd.DataFrame({'A': ['A8','A9','A10','A11'],
                    'B': ['B8','B9','B10','B11'],
                    'key': ['K0','K1','K2','K3']})
print("\nConcatenation\n")
df_cat = pd.concat([df1, df2, df3])                   # row wise - by default the axis=0
print(df_cat)

print("\nMerge by key\n")
merge1 = pd.merge(df1, df2, how='inner', on='key')     # only common values
print(merge1)

merged = pd.merge(merge1, df3, on='key', how='outer')  # Merge the result with the third, outer keeps everything
print(merged)

Concatenation

     A    B key
0   A0   B0  K0
1   A1   B1  K1
2   A2   B2  K2
3   A3   B3  K3
0   A4   B4  K0
1   A5   B5  K1
2   A6   B6  K2
3   A7   B7  K3
0   A8   B8  K0
1   A9   B9  K1
2  A10  B10  K2
3  A11  B11  K3

Merge by key

  A_x B_x key A_y B_y
0  A0  B0  K0  A4  B4
1  A1  B1  K1  A5  B5
2  A2  B2  K2  A6  B6
3  A3  B3  K3  A7  B7
  A_x B_x key A_y B_y    A    B
0  A0  B0  K0  A4  B4   A8   B8
1  A1  B1  K1  A5  B5   A9   B9
2  A2  B2  K2  A6  B6  A10  B10
3  A3  B3  K3  A7  B7  A11  B11

Tuples (*immutable - unchangeable after creation*)

In [7]:
t = ('a', 1, 3.5)
print(t[0], len(t))
print(t.count('a'), t.index(1))

# t[0]         → Accesses the first element of the tuple, which is 'a'.
# len(t)       → Returns the number of elements in the tuple, which is 3.
# t.count('a') → Counts how many times 'a' appears in the tuple → 1.
# t.index(1)   → Finds the index of the first occurrence of 1 → 1.

a 3
1 1

Set

In [15]:
x = set()
x.add(1)
x.add(2)
x.add(1)   # duplicates ignored
x.add(4)
x.add(3)
print(x)

{1, 2, 3, 4}

Dictionary

In [17]:
my_dict = {'key1':123, 'key2':[12,23,33], 'key3':['item0','item1','item2']}
print(my_dict['key2'][1])
my_dict['key1'] -= 23
print(my_dict)

print(my_dict.keys(), my_dict.values(), my_dict.items())

23
{'key1': 100, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}
dict_keys(['key1', 'key2', 'key3']) dict_values([100, [12, 23, 33], ['item0', 'item1', 'item2']]) dict_items([('key1', 100), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2'])])

Function and Lambda

In [10]:
# Regular function to calculate square of a number
def square(num):
    return num ** 2

# Lambda function for the same operation
square_lambda = lambda num: num ** 2

# Demonstration
print("Regular function:", square(4), square(10))        # Output: 16 100
print("Lambda function:", square_lambda(4), square_lambda(10))  # Output: 16 100

Regular function: 16 100
Lambda function: 16 100

Pre-defined advance or high level function: Map, Reduce, and Filter

In [21]:
from functools import reduce

def add_num(a,b): return a+b
nums = [1,2,3,4,5]
print("Map:", list(map(lambda x:x**2, nums)))   # map() applies a function to each element in an iterable (like a list).

print("Filter:", list(filter(lambda x:x%2==0, nums)))    # returns True for even numbers

print("Reduce:", reduce(add_num, nums))

# reduce(add_num, nums) performs:
#   add_num(1, 2) → 3
#   add_num(3, 3) → 6
#   add_num(6, 4) → 10
#   add_num(10, 5) → 15

Map: [1, 4, 9, 16, 25]
Filter: [2, 4]
Reduce: 15

Object Oriented Programming: Creating Classes

In [12]:
class Person:
    def __init__(self, name, surname, birth_year):
        self.name = name
        self.surname = surname
        self.birth_year = birth_year

    def age(self, current_year):
        return current_year - self.birth_year

    def __str__(self):
        return f"{self.name} {self.surname}"

alec = Person("Alec", "Baldwin", 1958)
print(alec)
print("Age:", alec.age(2025))

Alec Baldwin
Age: 67

Iterator, and Generator

In [13]:
# Iterator class for first 5 even numbers
class EvenIterator:
    def __init__(self):
        self.n = 0
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= 5:
            raise StopIteration
        result = self.n
        self.n += 2
        self.count += 1
        return result

# Generator function for first 5 even numbers
def even_generator():
    n = 0
    for _ in range(5):
        yield n
        n += 2

# Demonstration
print("Iterator:", list(EvenIterator()))     # Output: [0, 2, 4, 6, 8]
print("Generator:", list(even_generator()))  # Output: [0, 2, 4, 6, 8]

Iterator: [0, 2, 4, 6, 8]
Generator: [0, 2, 4, 6, 8]

In [14]:
try:
    number = int(input("Enter a number: "))
    result = 10 / number
except ValueError:
    print("That's not a valid number!")
except ZeroDivisionError:
    print("Cannot divide by zero!")
else:
    print("Result is:", result)
finally:
    print("Execution complete.")

Enter a number: 2
Result is: 5.0
Execution complete.

https://colab.research.google.com/drive/11lZQGYwOhRtjFggHYbety-u4emukAPMk?usp=sharing